<section class="banner h-100 d-flex align-items-center position-relative w-75 m-auto">
  <div class="row row-cols-1 row-cols-xl-2 w-100">
    <div class="banner__content mb-5 col d-flex flex-column justify-content-center vh-100">
      <h1 class="fw-bolder text-dark">Organise Life.</h1>
      <h1 class="fw-bolder text-dark">Get more done.</h1>
      <button class="btn btn-primary bg-purple text-light mt-5 border-0">Get started</button>
    </div>
    <div class="vh-100 d-flex align-items-center justify-content-end">
      <img src="../../assets/demo.png" alt="mockup" class="">
    </div>
  </div>
</section>