<section class="footer bg-dark py-5">
  <div class="w-75 m-auto py-3 d-flex justify-content-between row row-cols-1 row-cols-sm-2">
    <div class="footer__left col col-xl-8">
      <img class="d-block" src="../../assets/logo.png" width="50" height="50" class="mb-3">
      <ul class="d-flex p-0 row ">
        <li><a href="#" class="text-white nav-link ps-0">About</a></li>
        <li><a href="#" class="text-white nav-link ps-0">Features</a></li>
        <li><a href="#" class="text-white nav-link ps-0">Pricing</a></li>
        <li><a href="#" class="text-white nav-link ps-0">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="mt-3 footer__right col col-md-4 text-right">
      <h5 class="text-white">Get the app</h5>
      <img class="mt-2" src="../../assets/Google Play Badge.png" alt="">
      <img class="mt-2 ml-3" src="../../assets/App Store Badge.png" alt="">
    </div>
  </div>
  <p class="text-center">Hieu D. &copy;</p>
</section>